.header {
  background-color: gray;
  color: #FFFFFF;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;

  img {
    width: 16px;
    height: 16px;
    padding-left: 3vw;
  }

  span {
    margin-left: 41vw;
  }

  @media only screen and (max-width: 600px) {
    span {
      margin-left: 35vw;
    }
  }
}
