div {
  margin: 2vh 2vh 0 2vh;
  .div-father {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);
  }

  .div-left {
    width: 80%;
  }

  .div-right {
    position: absolute;
    right: 4%;
    width: 12%;
  }

  @media only screen and (min-width: 600px) {
    .div-right {
      right: 2%;
      width: 6%;
    }
  }
}
